<p id="notice"><%= notice %></p>

<p>
  <strong>Odd1:</strong>
  <%= @game.odd1 %>
</p>

<p>
  <strong>Odd2:</strong>
  <%= @game.odd2 %>
</p>

<p>
  <strong>Oddx:</strong>
  <%= @game.oddx %>
</p>

<p>
  <strong>Code:</strong>
  <%= @game.code %>
</p>

<p>
  <strong>Date:</strong>
  <%= @game.date %>
</p>

<p>
  <strong>Oddo:</strong>
  <%= @game.oddo %>
</p>

<p>
  <strong>Oddu:</strong>
  <%= @game.oddu %>
</p>

<p>
  <strong>Result:</strong>
  <%= @game.result %>
</p>

<p>
  <strong>Couponid:</strong>
  <%= @game.couponid %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
